/*------------------------------------
* sext
*
* @author Finley Chen* @link http://chentc.info/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{font-size:14px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.2em 0;}
ol,ul{list-style-position:inside;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:16px;line-height:24px;}
.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}
h5{margin:0;padding:0;font-size:100%; font-weight:500;}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px;}
code{background-color:#F7F7F7;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size: 12px;line-height:1.6;}
.v-input-large { width: 300px; }
/** violet-attent **/
.violet-attent { margin-left: 15px;}
.violet-attent-det { padding: 10px 0; }
.violet-attent-det ul li { float: left; margin-right: 5px; }
.violet-attent-det ul li a { display: block; width: 20px; height: 20px; text-indent: -9999em; overflow: hidden; background-image: url(../images/icon.png); background-repeat: no-repeat; border-radius: 3px 3px;  padding: 0;}
.violet-attent-det ul li a:hover { background-image: url(../images/icon.png); background-repeat: no-repeat;}
.violet-attent-det ul li a.v-github { background-position: -4px -28px; }
.violet-attent-det ul li a.v-weibo { background-position: -23px -28px; }
.violet-attent-det ul li a.v-twitter { background-position: -42px -28px; }
.violet-attent-det ul li a.v-flicker { background-position: -61px -28px; }
.violet-attent-det ul li a.v-google { background-position: -80px -28px; }
.violet-attent-det ul li a.v-rss { background-position: -99px -28px; }
.violet-attent-det ul li a.v-github:hover { background-position: -4px -4px; }
.violet-attent-det ul li a.v-weibo:hover { background-position: -23px -4px; }
.violet-attent-det ul li a.v-twitter:hover { background-position: -42px -4px; }
.violet-attent-det ul li a.v-flicker:hover { background-position: -61px -4px; }
.violet-attent-det ul li a.v-google:hover { background-position: -80px -4px; }
.violet-attent-det ul li a.v-rss:hover { background-position: -99px -4px; }
/** violet-journal **/
.violet-journal { background: none repeat scroll 0 0 #FFFFFF; margin: 0; padding: 50px 20px 50px 40px; }
.v-section-tit { padding: 0px 5px 0 0; color: #888; font-size: 18px; line-height: 30px; font-weight: 500; font-family: "Times New Roman",Times,serif; border-bottom: 1px solid #e8e8e8; }
.v-section-tit span { display: inline; font-family: "Times New Roman",Times,serif; font-size: 12px; line-height: 12px; color: #e58b3a; }
.v-section-tit h2 { display: inline; font-size: inherit; padding: inherit; margin: inherit; line-break: inherit;}
.v-excerpt { padding: 20px 0; border-bottom: 1px dotted #e8e8e8; border-top: 1px solid #fff; }
.v-excerpt:hover { background: #f5f5f5;
	background: -moz-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #ffffff 0, #fefefe 80%, #f5f5f5 100%)
 }
.v-excerpt-title { margin-bottom: 12px; }
.v-excerpt-title a { font-size: 18px; font-family: "Times New Roman",Times, serif; color: #489620; font-weight: 700; }
.v-excerpt-title a:hover, .v-post-list .v-post-title a:hover { color: #246105; text-decoration: none; }
.v-excerpt-det { font-size: 13px; line-height: 21px; color: #686868; font-family: Georgia, sans-serif; margin-bottom: 0; }
.v-excerpt-det p { margin-bottom: 10px; }
.v-post-list { padding: 8px 0; border-top: 1px solid #fff; border-bottom: 1px dashed #e8e8e8; }
.v-post-list:hover { background: #f5f5f5; 
	background: -moz-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #ffffff 0, #fefefe 80%, #f5f5f5 100%)
}
.v-post-list .v-post-title { display: inline; line-height: 24px; }
.v-post-list .v-post-title a { font-size: 16px; line-height: 24px; font-family: "Times New Roman",Times, serif; color: #489620; font-weight: 700; }
.v-post-list  p { float: right; display: inline; line-height: 24px; color: #888; }

/** fn **/

.fn-clear:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.fn-clear { zoom:1; /* for IE6 IE7 */ }
body .fn-hide { display:none; }
.fn-left,.fn-right { display:inline; }
.fn-left { float:left; }
.fn-right { float:right; }