/*------------------------------------
* sext
*
* @author Finley Chen* @link http://chentc.info/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{font-size:14px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.2em 0;}
ol,ul{list-style-position:inside;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:16px;line-height:24px;}
.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}
h5{margin:0;padding:0;font-size:100%; font-weight:500;}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px;}
code{background-color:#F7F7F7;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size: 12px;line-height:1.6;}
.v-input-large { width: 300px; }
/** violet-attent **/
.violet-attent { margin-left: 15px;}
.violet-attent-det { padding: 10px 0; }
.violet-attent-det ul li { float: left; margin-right: 5px; }
.violet-attent-det ul li a { display: block; width: 20px; height: 20px; text-indent: -9999em; overflow: hidden; background-image: url(../images/icon.png); background-repeat: no-repeat; border-radius: 3px 3px;  padding: 0;}
.violet-attent-det ul li a:hover { background-image: url(../images/icon.png); background-repeat: no-repeat;}
.violet-attent-det ul li a.v-github { background-position: -4px -28px; }
.violet-attent-det ul li a.v-weibo { background-position: -23px -28px; }
.violet-attent-det ul li a.v-twitter { background-position: -42px -28px; }
.violet-attent-det ul li a.v-flicker { background-position: -61px -28px; }
.violet-attent-det ul li a.v-google { background-position: -80px -28px; }
.violet-attent-det ul li a.v-rss { background-position: -99px -28px; }
.violet-attent-det ul li a.v-github:hover { background-position: -4px -4px; }
.violet-attent-det ul li a.v-weibo:hover { background-position: -23px -4px; }
.violet-attent-det ul li a.v-twitter:hover { background-position: -42px -4px; }
.violet-attent-det ul li a.v-flicker:hover { background-position: -61px -4px; }
.violet-attent-det ul li a.v-google:hover { background-position: -80px -4px; }
.violet-attent-det ul li a.v-rss:hover { background-position: -99px -4px; }
/** violet-about **/
.violet-about { margin-bottom: 20px; height: auto;  padding-left: 13px;}
.violet-about-det { padding-left:0 px; border-bottom: 1px solid #d8d8d8;  }
.violet-about-det p img { background: #fff; padding: 2px 2px; }
.violet-about-det p { padding-bottom: 10px; font-size: 13px; line-height: 18px; font-family: Verdana,Arial,Helvetica,sans-serif; color: #686868; }
.violet-about-det strong { font-family: "Times New Roman",Times,serif; font-weight: 700; padding: 0 2px; font-size: 14px; line-height: 18px; }
.violet-about-det em { padding: 0 2px; font-weight: 700; border-bottom: 1px dotted #e8e8e8; }

/** v-my-face **/
.v-my-face { width: 177px; height: 104px; -moz-box-shadow: 0 0 4px #d0d0d0; -webkit-box-shadow: 0 0 4px #d0d0d0; -o-box-shadow: 0 0 4px #d0d0d0; box-shadow: 0 0 4px #d0d0d0; background:  #fefefe; }
p.v-my-face { padding-bottom: 0; margin: 0 auto 10px auto; text-align: right}
.v-my-face img {
    cursor: pointer;
    width: 146px;
    height:  100px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.v-my-face span { display:  none; }
.v-my-face-hover { position:  relative; cursor: pointer; }
.v-my-face-hover span { text-align:  center; color: #fff; position:  absolute; display: block; width: 177px; height:  60px; padding: 41px 1px 1px 1px; border: 1px solid #555; top: 0 ; left: 0; background: rgba(0, 0, 0, 0.8); }

/** grid **/
.ui-grid-1, .ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-6, .ui-grid-7, .ui-grid-8, .ui-grid-9, .ui-grid-10, .ui-grid-11,.ui-grid-12, .ui-grid-13, .ui-grid-14, .ui-grid-15, .ui-grid-16, .ui-grid-17, .ui-grid-18, .ui-grid-19, .ui-grid-20, .ui-grid-21, .ui-grid-22, .ui-grid-23, .ui-grid-24, .ui-grid-25 { margin: 0 10px 10px 0; float:left; display:inline; }
.ui-grid-1 {width:30px;}
.ui-grid-2 {width:70px;}
.ui-grid-3 {width:110px;}
.ui-grid-4 {width:150px;}
.ui-grid-5 {width:190px;}
.ui-grid-6 {width:230px;}
.ui-grid-7 {width:270px;}
.ui-grid-8 {width:310px;}
.ui-grid-9 {width:350px;}
.ui-grid-10 {width:390px;}
.ui-grid-11 {width:430px;}
.ui-grid-12 {width:470px;}
.ui-grid-13 {width:510px;}
.ui-grid-14 {width:550px;}
.ui-grid-15 {width:590px;}
.ui-grid-16 {width:630px;}
.ui-grid-17 {width:670px;}
.ui-grid-18 {width:710px;}
.ui-grid-19 {width:750px;}
.ui-grid-20 {width:790px;}
.ui-grid-21 {width:830px;}
.ui-grid-22 {width:870px;}
.ui-grid-23 {width:910px;}
.ui-grid-24 {width:950px;}
.ui-grid-25 {width:990px;}
.ui-grid-right {margin-right:0;}
.ui-grid-left {margin-left:0;}
.ui-grid-bottom {margin-bottom:0;}
/** violet-post **/
.violet-post { margin-left: 60px; margin-top: 15px; height: auto; min-height: 520px; }
.violet-post-det {
    margin: 20px 0;
    background: #eeefef;
    -moz-box-shadow: 3px 3px #e0e0e0;
    -webkit-box-shadow: 3px 3px 0 #e0e0e0;
    box-shadow: 3px 3px 0 #e0e0e0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #efefef;
}

.v-post-aside {
    float: right;
    margin: 0 0;
    padding: 50px 20px 50px 0;
}
.v-post-aside .category {
	padding-left: 13px;
	margin-top: 30px;
}
.v-post-aside .v-category-item span {
	color: #E18B3A;
}
.v-post-aside .recent-post {
    padding-left: 13px;
}
.v-post-aside .v-section-tit {
    padding-left: 5px;
    color: #2d6213;
    border-bottom: 1px solid #dedede;
    margin-bottom: 6px;
}
.v-post-aside li {
    font-family: verdana,"榛戜綋",sans-serif;
    font-size: 12px;
    line-height: 30px;
    padding: 5px 0;
    border-bottom: 1px dashed #c9ccc9;
}
.v-post-aside li a {
    display: block;
    padding: 0 5px;
    color: #666;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    border-radius: 4px 4px;
    cursor: pointer;
}
.v-post-aside li a:hover {
    color: #4d4d4d;
    background: #e0e0e0;
    text-decoration: none;
}

.v-post-detail {
    margin: 0 0;
    padding: 50px 20px 50px 40px;
    background: #fff;
    position: relative;
}

/** violet-aside **/
.violet-aside-post {
    margin-top: 15px; margin-bottom: 20px; height: auto;
}
.violet-aside-post li {
    margin: 10px 0 0;
}
.violet-aside-post .v-aside-li { border-bottom: 1px dotted #d8d8d8; }
.violet-aside-post .v-aside-li a { font-family: verdana, \9ED1\4F53, sans-serif; word-wrap:break-word; word-break:break-all; }
.violet-aside-post .v-aside-li a:hover { text-decoration: none;  }
.violet-aside-post .v-date { text-align: right; }

/** fn **/
.fn-clear:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.fn-clear { zoom:1; /* for IE6 IE7 */ }
body .fn-hide { display:none; }
.fn-left,.fn-right { display:inline; }
.fn-left { float:left; }
.fn-right { float:right; }


.content-cnt{
    margin: 0 auto;
    width: 990px;
    height: auto;
}

.violet-journal { background: none repeat scroll 0 0 #FFFFFF; margin: 0; padding: 50px 20px 50px 40px; }
.v-section-tit { padding: 0px 5px 0 0; color: #888; font-size: 18px; line-height: 30px; font-weight: 500; font-family: "Times New Roman",Times,serif; border-bottom: 1px solid #e8e8e8; }