<aside class="ui-grid-5 ui-grid-right">
    {% if((page.isCV)) %}
    {% include face.html %}
    {% endif %}
    {% include follow.html %}
	{% if(page.isIndex) %}
				<div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="300" height="900" id="passing" > <param name="movie" value="http://www.douban.com/doushow/50934726/collection_latest__8_2_small_nologo_noself/doushow.swf" /> <param name="quality" value="high" /> <param name="scale" value="noscale"/> <param name="align" value="tl"/> <param name="wmode" value="transparent"/> <embed src="http://www.douban.com/doushow/50934726/collection_latest__8_2_small_nologo_noself/doushow.swf" wmode="transparent" quality="high" width="300" height="900" name="passing" scale="noscale" align="tl" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /> </object>
				</div>
				{% endif %}
</aside>
<!-- //violet-aside -->
