<div class="violet-about">
			<h4 class="v-section-tit">About Me</h4>		
			<article class="violet-about-det">
            <p class="v-my-face">
<img src="http://chentc.info/images/avatar.png"  title ="Fanglin Chen" width="146px" height="100px">
			</p>
              <p>I enjoy deep thinking and dealing with real-world human-computer interaction problems.</p>
              <p>I am a cyclist and photography addict. And In leisure time, I am trying to learn some "Bass" and "Salsa" Techniques.</p>
			</article>
	      </div>
<!-- //violet-about -->